
.world {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 60vh;
    background: #fff000;

    /*3d effect - 원근감 */
    perspective: 500px;
}

.card{

    display:flex;
    align-items: center;
    justify-content: center;
    margin: 1em;

    font-size: 1.5rem; 
    /*rem: root인 html font size 가 기준 */

    width: 100px;
    height:150px;
    border-radius: 0.5em;  /* relative size, influenced by rem size*/
    background: red;
    
    /* world 뿐만 아니라, 카드 각각에 perspective 효과 주기 가능*/
    transform: perspective(200px) rotateY(45deg);
}