img {
    width: auto;
    max-height: 200px;
}

.btn-label{
    font-size: 15px;
}

.characters {
    display: flex;
    background: #fff000;
    align-items: center;
    justify-content: space-around;
}

.kyo {
    display: flex;
    width: 100px;
    cursor: pointer;
}

.characters .kyo {
    display: inline-block;
}

.special{
    border: red 10px dashed;
}