.kyo {
    display: flex;
}

.special {
    border: dotted red solid;
}

img {
    max-width: 100%;
    height: auto;
}

.characters {
    display: flex;
    background: #fff000;
    align-items: center;
    justify-content: space-around;
}

.kyo {
    width: 100px;
    cursor: pointer;
}

.characters .kyo {
    display: inline-block;
}

.special{
    border: red 10px dashed;
}